<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="estilos.css" />
  </head>
  <body>
    <div class="container">
      <h1>Error 404</h1>
      <p>¡Oops! Parece que la página que estás buscando no se encuentra.</p>
      <p><a href="/">Volver a la página principal</a></p>
    </div>
  </body>
</html>