<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/cabecera.html') %>
  </head>
  <body>
    <div class="container">
      <h1>Bienvenido a la página #2.</h1>
      <h3>
        Estación "País de las maravillas".
      </h3>
      <%- include('partials/botonRegresar.html') %>
    </div>
  </body>
</html>