<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/cabecera.html') %>
  </head>
  <body>
    <div class="container">
      <h1>Bienvenido a la página #5.</h1>
      <h3>Estación "El final".</h3>
      <%- include('partials/botonRegresar.html') %>
    </div>
  </body>
</html>
